    name: Publish

    on:
      push:
        branches: [master]

    jobs:
      test:
        name: Unit tests
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Set up JDK 11
            uses: actions/setup-java@v1
            with:
              java-version: 11

          - name: Grand execute permissions to gradlew
            run: chmod +x gradlew

          - name: Run unit tests
            run: ./gradlew testDebug

      apk:
        name: Generate APK
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Set up JDK 11
            uses: actions/setup-java@v1
            with:
              java-version: 11

          - name: Assemble app debug APK
            run: ./gradlew assembleDebug

          - name: Upload app APK
            uses: actions/upload-artifact@v1
            with:
              name: app-debug
              path: app/build/outputs/apk/debug/app-debug.apk

          - name: Assemble app instrumentation tests
            run: ./gradlew assembleDebugAndroidTest

          - name: Upload app test APK
            uses: actions/upload-artifact@v1
            with:
              name: app-debug-androidTest
              path: app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk

      distribute:
        name: Distribute App bundle to playstore
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2

          - name: set up JDK 11
            uses: actions/setup-java@v1
            with:
              java-version: 11

          - name: Bump version
            uses: chkfung/android-version-actions@v1.1
            with:
              gradlePath: app/build.gradle
              versionCode: ${{github.run_number}}

          - name: Assemble Release Bundle
            run: ./gradlew bundleRelease

          - name: Sign Release
            uses: r0adkll/sign-android-release@v1
            with:
              releaseDirectory: app/release
              signingKeyBase64: ${{ secrets.ANDROID_KEY_STORE }}
              alias: ${{ secrets.KEY_ALIAS }}
              keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
              keyPassword: ${{ secrets.KEY_PASSWORD }}

          - name: Setup authorisation with Google play store
            run: echo '${{ secrets.PLAY_CONFIG_JSON }}' > service_account.json

          - name: Deploy to Internal
            uses: r0adkll/upload-google-play@v1
            with:
              serviceAccountJson: service_account.json
              packageName: com.fredosuala.fzone
              releaseFiles: app/release/app-release.aab
              track: internal
              whatsNewDirectory: whatsNewDirectory/